body {
  font-family: sans-serif;
  margin: auto;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}





section.home-page-section #pause-button:hover {
  opacity: 1 !important;
}

section.home-page-section #video-overlay {
  transition: all 0.3s ease;
}

.product-left-border {
  content: '';
  height: -webkit-fill-available;
  width: 2px;
  background: #8e8e8e;
  position: absolute;
  left: -20px;
}

.desktop_innovative {
  display: inline-flex;
}

.mobile_innovative {
  display: none;
}

.hide-sm-all {
  display: block;
}

section.home-page-section .inovative-products .product-desc {
  font-size: 15px;
  line-height: 1.27 !important;
  text-align: left !important;
  color: #333;
  font-family: Muli, sans-serif !important;
  font-weight: 400;
}

.testimonials-heading {
  font-size: 36px;
  font-weight: 800;
  color: #fff;
  padding: 30px 0 12px;
  display: block;
}

#pause-wrapper, #play-wrapper {
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}

.custom-click-item {
  color: #000;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
  transition: ease-in-out .4s;
}

.custom-click-item, .slick-slide.slick-center .custom-click-item .card, .slick-slide.slick-center .custom-click-item .overlay {
  transition: ease-in-out .4s;
}

.slick-prev, .slick-next {
  top: 42%;
}

.slick-track > div.slick-current .custom-click-item .card {
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  transform: scale(1.18);
  z-index: 222;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.slick-track > div.slick-current .custom-click-item .overlay {
  opacity: 0 !important;
}

.slick-track {
  height: 400px;
}

.slick-track .custom-click-item .card {
  height: 270px;
  margin-top: 30px;
}

.slick-prev:before, .slick-next:before {
  font-family: fantasy;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-left: -30px;
  height: 45px;
  width: 45px;
  display: inline-flex;
  line-height: 2.3;
  justify-content: center;
  align-items: flex-end;
}

.slick-next:before {
  margin-left: 10px;
}

.cause_logo_flex_box {
  padding: 8px 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.cause_logo_flex_box > div {
  padding: 0;
  width: 20%;
  height: auto;
  margin-top: 0;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  color: #989898;
  font-size: 18px;
  line-height: 100px !important;
}

.cause_logo_flex_box img {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
}

.heading h2 {
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 32px;
  color: #3e3d3d;
}

.heading h2::after {
  content: '';
  height: 2px;
  width: 50%;
  background: #545454;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.media_coverage {
  font-size: 36px;
  font-weight: 800;
  color: #221e1f;
}

@media  screen and (min-width: 769px) {
  .testimonials-heading
  section.home-page-section .about-sirona .desktop-banner {
    display: block;
  }

  section.home-page-section .about-sirona .mobile-banner {
    display: none;
  }


  .home-page-section .about-section h1 {
    font-size: 48px;
    font-weight: bold;
    font-family: Muli, Sans-serif;
    color: black;
    line-height: 1.2;
    letter-spacing: -1.2px;
    margin-bottom: 10.5px;
  }

  .home-page-section .about-section h3 {
    font-size: 22px;
    font-weight: normal;
    color: #333;
  }

  /*.home-page-section .about-section img {*/
  /*    margin-bottom: 35px;*/
  /*}*/
  .home-page-section .blog-section .blog-title {
    font-family: Muli, sans-serif;
    font-size: 17px;
    color: #221e1f;
    letter-spacing: 1px;
    padding: 10px 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .home-page-section .blog-section .main-blog {
    height: 530px;
  }

  .home-page-section .blog-section .secondary-blog {
    height: 250px;
  }

  .home-page-section #pause-button img, .home-page-section #play-button img {
    width: 80px;
    height: 80px;
  }

  .home-page-section .web-quiz-ask {
    display: block;
  }

  .home-page-section .mobile-quiz-ask {
    display: none;
  }

  .home-page-section .web-testimonials {
    display: flex;
  }

  .home-page-section .display-hide-mobile {
    display: block;
  }

  .home-page-section .mobile-testimonials {
    display: none;
  }

  .home-page-section .testimonials {
    padding-top: 0;
  }

  .home-page-section .testimonials .carousel-control .left {
    left: auto;
    right: 0;
  }

  .home-page-section .testimonials .left {
    left: auto;
    right: 0;
  }

  .product-left-border {
    content: '';
    height: -webkit-fill-available;
    width: 2px;
    background: #8e8e8e;
    position: absolute;
    left: -20px;
  }

  .desktop_innovative {
    display: inline-flex;
  }

  .mobile_innovative {
    display: none;
  }

  .custom-click-item {
    color: #5d5d5d;
  }

  .slick-slide.slick-center .custom-click-item .content-tst {
    color: #545454;
    padding: 4px 27px;
  }
}


@media (min-width: 993px) and (max-width: 1140px) {
  .slick-slide.slick-center .custom-click-item .content-tst {
    padding: 6px;
  }
}

@media  screen and (max-width: 768px) {

  .cause_logo_flex_box > div {
    width: 33%;
  }

  .topwala img, .cause_logo_flex_box img {
    width: 100%;
  }

  section.home-page-section .about-section .desktop-banner {
    display: none;
  }

  section.home-page-section .about-section .mobile-banner {
    display: block;
  }

  .home-page-section .about-section h1 {
    font-size: 28px !important;
    font-weight: 400;
    line-height: 1.2;
    font-family: Muli, Sans-serif;
    color: black;
    letter-spacing: -0.7px;
    margin-bottom: 5px;
  }

  .home-page-section .about-section h3 {
    font-size: 14px;
    font-weight: normal;
    color: #333;
  }

  .home-page-section .about-section img {
    margin-bottom: 20px;
  }

  .home-page-section .blog-section .blog-heading {
    display: none;
  }

  .home-page-section .blog-section .blog-title {
    font-family: Muli, sans-serif;
    font-size: 10px;
    color: #020202;
    line-height: 1.02;
    padding: 10px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .home-page-section .blog-section .main-blog {
    height: 281px;
  }

  .home-page-section .blog-section .secondary-blog {
    height: 150px;
  }

  .home-page-section .blog-section .small-blog-one {
    padding-right: 5px !important;
  }

  .home-page-section .blog-section .small-blog-two {
    padding-left: 5px !important;
  }

  .home-page-section #pause-button img, .home-page-section #play-button img {
    width: 40px;
    height: 40px;
  }

  .home-page-section .web-quiz-ask {
    display: none;
  }

  .home-page-section .mobile-quiz-ask {
    display: block;
  }

  .home-page-section .web-testimonials, .home-page-section .display-hide-mobile {
    display: none !important;
  }

  .home-page-section .mobile-testimonials {
    display: flex;
  }

  .product-left-border {
    content: '';
    height: 2px;
    width: 100%;
    background: #8e8e8e;
    position: unset;
    top: 0;
    margin: 15px 0;
  }

  .desktop_innovative {
    display: none;
  }

  .mobile_innovative {
    display: inline-flex;
  }

  .sm-button-link button {
    width: 100%;
  }

  .hide-sm-all {
    display: none;
  }

  .testimonials-heading {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    padding: 20px 0 0 0;
    display: block;
  }

  .slick-track {
    height: 300px;
    transform: translateX(-20px);
  }

  div.slick-slide.slick-current ~ div.slick.slide {
    opacity: 0;
  }

  .slick-track .custom-click-item .card {
    height: 300px;
    margin-top: 0;
  }

  .slick-slide.slick-current .custom-click-item .overlay {
    opacity: 1 !important;
  }

  .media_coverage {
    font-size: 21px;
    font-weight: 600;
  }

  .slick-track > div.slick-current .custom-click-item .card {
    transform: none;
    box-shadow: none;
  }
}

.custom-click-item {
  margin: 0px;

}

@media  screen and (max-width: 480px) {
  .cause_logo_flex_box > div {
    width: 50%;
  }
}

@media  screen and (max-width: 390px) {
  .custom-10 {
    padding: 0;
  }

  .custom-padd {
    padding: 0;
  }

  .carousel-control.left {
    right: 0;
    left: 50%;
  }

  .carousel-control.right {
    right: 0;
    left: 50%;
  }

  .cause_logo_flex_box > div {
    width: 50%;
  }
}


#pause-button img,
#play-button img{
  width: 200px;
  height: 200px;
}



